# This is Git's per-user configuration file.
[user]
	name = zhongxiao.yzx
	email = zhongxiao.yzx@alibaba-inc.com
[core]
    editor = vim 
    quotepath = false
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[mergetool]
    keepbackup = false
[color]
    ui = auto
[alias]
    logx = log --format=fuller --graph
[commit]
    template = /home/zhongxiao.yzx/.commit_template
[i18n]
    commitencoding = utf-8
    logoutputencoding = utf-8
[gui]
    encoding = utf-8
[credential]
	helper = store
